html, body {
  background-color: #000 !important;
  font-family: "Lucida Console", "Courier New", Courier, monospace;
  color: #FFF !important;
  margin: 0;
  padding: 0;
  background-image: url("../images/Grid.png");
  background-position: center;
  background-attachment: fixed;
}


::-webkit-scrollbar {
  width: auto;
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-button {
  background-color: #222;
}

h1 {
  font-size: 2.5em; /* Default = 2em */
  margin: .5em 0;
}
h2 {
  font-size: 2em;  /* Default = 1.5em */
  margin: .5em 0;
}


#navbar {
  position: fixed;
  width: 100%;
  height: 4em;
  top: 0;
  left: 0;
  background-color: #111;
  z-index: 999;
}
#navList {
  margin: 0;
  padding: 0;
  height: 4em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#navList li {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  margin: 0 4em;
  font-size: 1.25em;
}
#navList a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  transition: 150ms;
}
#navList a:hover {
  background-color: #FFF;
  text-decoration: initial;
  color: #000 !important;
  transition: 150ms;
}
#navList a:active {
  background-color: #111;
  color: #FFF;
}


#pageContents {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #111;
}
.pageChunk {
  height: 100vh;
  width: calc(100% * 2 / 3);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Stuff for the About section: */

.aboutChunk {
  width: 100%;
}
#skillsGridTitle {
  margin: 0 auto 1em auto;
  font-size: 1.5em;
}
#skillsGridSubTitle {
  margin: 2em auto 1em auto;
  font-size: 1em;
}
#skillsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  color: #BBB;
  width: calc(100% * 2 / 3);
  margin: 0 auto;
}
#skillsGrid div {
  margin: 1em;
}
.professionFirstBreak {
  display: none;
}
.professionSecondBreak {
  display: none;
}
@media (max-width: 1180px) {
  .professionFirstBreak {
    display: block;
  }
}
@media (max-width: 1660px) {
  .professionSecondBreak {
    display: block;
  }
}
@media (max-width: 500px) {
  #skillsGrid {
    grid-template-columns: auto;
  }
}

/* Stuff for the Work section: */

/*
#workEntry1 {
  display: none;
}
*/
/* ^^^ This is controlled by JS currently... this is the format to follow for hiding visibility however! */

.workChunk {
  width: 100%;
}
#workContainer {
  width: calc(100% - 8em);
  margin: 0 auto;
  max-height: 80vh;
}
.workContents {
  margin: auto;
  max-height: 71vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.workContentsImages {
  width: 100%;
  margin: auto;
  overflow-y: scroll;
  background-color: #000;
}
.workContentsImages img {
  max-width: 95%;
}
.workContentsText {
  width: 90%;
  margin: auto;
}
.workContentsText p {
  color: #BBB;
  line-height: 1.1em;
}
#workDivider {
  height: 0px;
  outline: 1px solid #222;
  margin: 0 0 1em 0;
}
#workNavButtonContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.workNavButton {
  width: 7em;
  height: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.workNavButton button {
  height: 100%;
  transition: 150ms;
  color: #2f97ce;
  border: none;
  background-color: #111;
  font-size: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
.workNavButton button:disabled {
  color: #333;
}
.workNavButton button:hover:enabled {
  background-color: #FFF;
  color: #000;
  cursor: pointer;
}
.workNavButton button:active:enabled {
  background-color: #111;
  color: #FFF;
}
#workNavPrev {
  border-right: #222 1px solid;
}
#workNavNext {
  border-left: #222 1px solid;
}
@media (max-width: 1660px) {
  #workContainer {
    width: calc(100% - 2em);
  }
}

/* Stuff for the Contact section: */

.contactChunk {
  width: 90%;
}
.contactRow {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.contactRow img {
  width: 1.5em;
  height: 1.5em;
  padding: 0.5em;
}
#profileLink {
  text-decoration: none;
  color: #2f97ce !important;
  padding: 2em 2em;
  transition: 150ms;
  font-size: 1.25em;
}
#profileLink:hover {
  background-color: #333;
  text-decoration: initial;
  color: #ce2f47 !important;
  transition: 150ms;
}
@media (max-width: 900px) {
  .contactChunk {
    width: 100%;
  }
  .contactRow {
    width: 75%;
  }
}
@media (max-width: 500px) {
  #profileLink {
    font-size: 1em;
    padding: 1.5em 1.25em;
  }
}

#signature {
  position: relative;
  bottom: 8em;
  height: 0;
  /*
  text-align: center;
  margin: auto;
  transform: translate(0%, -25%);
  */
}


#footerFixed {
  position: fixed;
  width: 100%;
  background-color: #111;
  height: 2em !important;
  bottom: 0px;
}
#footerList {
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 1em !important;
  font-family: "Lucida Console", "Courier New", Courier, monospace !important;
  justify-content: space-between;
}
#footerTextLeft p {
  text-align: left;
  margin: .6em 0em .4em 1em;
}
#footerTextRight p {
  text-align: right;
  margin: .6em 1em .4em 0em;
}


@media (max-width: 680px) {
  #pageContents {
    width: 100%;
  }
  h1 {
    font-size: 8vw; /* Default = 2em */
  }
  h2 {
    font-size: 6vw;  /* Default = 1.5em */
  }
  #skillsGridTitle {
    font-size: 4vw;
  }
  #navList li {
    margin: 0 3em;
    font-size: 3vw;
  }
  #footerFixed {
    height: 1.5em;
  }
  #footerList {
    font-size: .75em !important;
  }
  #skillsGrid {
    font-size: .75em;
  }
  .contactRow {
    font-size: 1em;
  }
}