html, body {
  background-color: #000 !important;
  font-family: "Lucida Console", "Courier New", Courier, monospace;
  color: #FFF !important;
  margin: 0;
  padding: 0;
  background-image: url("../images/Grid.png");
  background-position: center;
  background-attachment: fixed;
}


::-webkit-scrollbar {
  width: inherit;
  background-color: inherit;
}
::-webkit-scrollbar-thumb {
  background-color: #222;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

h1 {
  font-size: 2.5em; /* Default = 2em */
}
h2 {
  font-size: 2em;  /* Default = 1.5em */
}

#navbar {
  position: fixed;
  width: 100%;
  height: 4em;
  top: 0;
  left: 0;
  background-color: #111;
  z-index: 999;
}
#navList {
  margin: 0;
  padding: 0;
  height: 4em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#navList li {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  margin: 0 4em;
}
#navList a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  transition: 150ms;
}
#navList a:hover {
  background-color: #FFF;
  text-decoration: initial;
  color: #000 !important;
  transition: 150ms;
}


#pageContents {
  width: 80%;
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #111;
}
.pageChunk {
  height: calc(100vh - 2em);
  width: calc(100% * 2 / 3);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#skillsGridTitle {
  margin: 1em auto;
}
#skillsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  opacity: 75%;
}
#skillsGrid div {
  margin: 1em;
}


#contactGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 67%;
  margin: 0 auto;
}
#profileLink {
  text-decoration: none;
  color: #2f97ce !important;
  padding: 1em;
  transition: 150ms;
}
#profileLink:hover {
  background-color: #333;
  text-decoration: initial;
  color: #ce2f47 !important;
  transition: 150ms;
}


#signature {
  position: relative;
  bottom: 8em;
  height: 0;
  /*
  text-align: center;
  margin: auto;
  transform: translate(0%, -25%);
  */
}


#footerFixed {
  position: fixed;
  width: 100%;
  background-color: #111;
  height: 2em !important;
  bottom: 0px;
}
#footerList {
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 1em !important;
  font-family: "Lucida Console", "Courier New", Courier, monospace !important;
  justify-content: space-between;
}
#footerTextLeft p {
  text-align: left;
  margin: .6em 0em .4em 1em;
}
#footerTextRight p {
  text-align: right;
  margin: .6em 1em .4em 0em;
}


@media (max-width: 680px) {
  #navList li {
    margin: 0 3em;
    font-size: 3vw;
  }
  #footerFixed {
    height: 1.5em;
  }
  #footerList {
    font-size: .75em !important;
  }
  #skillsGrid {
    font-size: .75em;
    grid-template-columns: auto auto;
  }
  #contactGrid {
    font-size: .75em;
    grid-template-columns: auto auto;
  }
}